body{
    background-image:url('language.jpg');
     background-size:cover;
     background-repeat:no-repeat;
}
.questions{
    border:2px solid white;
    height:300px;
    border-radius:20px;
    margin-top:150px;
    background-color:rgba(0, 0, 0, 0.7);
   
}
button{
    margin-top:60px;
    margin-left:180px;
    width:200px;
    height:70px;
    border-radius:30px;
    font-size:27px;
}
h1{
     font-size:32px;
     text-align: center;
    margin-top:51px;
    color:white;
}
