body{
     background-image:url('login.jpg');
     background-size:cover;
     background-repeat:no-repeat;
}
.container{
    width:400px;
    height:350px;
    border:2px solid black;
    border-radius:15px;
    margin-top:130px;
    margin-left:450px;
    background-color:rgba(0, 0, 0, 0.5);
}
.new{
  color:white;
 padding:20px 90px;
}
input{
  margin-top:20px;
  padding:10px;
  border-radius:15px;
}
button{
  margin-top:30px;
  margin-left:65px;
  padding:10px;
  border-radius:15px;
  background-color:rgb(26, 128, 55);
  color:white;
  
}
h1{
  text-align:center;
}
.third{
  color:rgb(231, 231, 228);
}