body {
            font-family: Arial;
            background-image:url('questioncss.jpg');
            background-size:cover;
        }
        .quiz-container {
            background: white;
            padding-top: 20px;
            border-radius: 10px;
            width:900px;
            margin:auto;
            margin-top:100px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            height:400px;
        }
        .option {
            display: block;
            margin: 20px 400px;
            padding: 10px 20px;
            background: #eee;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .option:hover {
            background-color: #e0c218;
        }
        #timer {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
        text-align:center;
      }
      h2{
        text-align:center;
        padding-top:0px;
      }
      p{
        text-align:center;
      }
      .back{
        padding-top:20px;
        text-align:center;
      }
      .quiz{
        margin-top:95px;
      }